# Java compiled class files
*.class

# IntelliJ IDEA
.idea/
*.iml

# Build output
out/

# macOS
.DS_Store
/.idea/
Laborator.iml
src.iml
target
*.db
logs

# C# / .NET
**/bin/
**/obj/
TurismUI/TurismClient/.idea/
.graphifyignore
*.md
!README.md
graphify-out
docs.worktrees
